<h1>Dodawanie projektu</h1>
<div class="example-container">
  <p><b>Nazwa projektu</b></p>
  <mat-form-field appearance="fill">
    <mat-label>Nazwa projektu</mat-label>
    <input
      matInput
      placeholder="Nazwa zadania"
      [(ngModel)]="nazwa"
      required
    />
  </mat-form-field>
</div>
<div class="example-container">
  <p><b>Opis projektu</b></p>
  <mat-form-field appearance="fill">
    <mat-label>Opis projektu</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      [(ngModel)]="opis"
    ></textarea>
  </mat-form-field>
</div>

<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" [(ngModel)]="data"/>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field><br>
<button (click)="dodajProjekt()" mat-raised-button>
  Dodaj nowy projekt
</button>
